<h1>Create Links</h1>
<%= render partial: 'link' %>

<h1>All Links</h1>

<% @links.each do |link| %>
<ul class= "link" data-link-id='<%= link.id %>'>
  <li><%= link.title %></li>
  <li><%= link.url %></li>
  <li><%= link.read %></li>
  <button name="mark-as-read" class="mark-as-read">Mark as Read</button>
  <%= button_to "Edit", edit_link_path(link), method: :get %>
</ul>
<% end %>
